@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
    background: #e5e5e5;
    background-color: lightcyan;
    color: #272727;
    font-family: 'Nunito', sans-serif;

}

h2{
    text-align: center;
}

li {
    display:block;
    float:center;
    color:black;
    margin-right:10px;
}

form {
    display: inline;
}



.form-group{
     margin: auto;
     /*text-align: center;*/
     font-size: 50px;
     height: 20;
     width: 10;
 }

.addtaskform{
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.itemlist {
    height: 100%;
    display: flex;
    text-align: center;
}

.btn-primary{

    border-radius: 30px !important;
    color: #FFF !important;
    background-color: #4bc970 !important;
    border-radius: 5px;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    border-radius: 30px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;



}
.form-control{
    border-radius: 5px;
    border: 1px solid #a9afaf;
    border-width: 1px 1px 3px;
    border-radius: 30px;



}
.checkbox1{
    border-radius: 30px !important;

}


.close {
    border-radius: 5px;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    border-radius: 30px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    opacity: .2;
    text-item: left;

}

.placeholder{
    text-align: center;
}

.col-md-6{

    padding:  5px;

}